<?xml version="1.0" encoding="UTF-8"?>
<element>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	    <display-name>Checkerboard</display-name>
	    <description>Checkerboard Application</description>
	    <servlet>
	        <servlet-name>Checkerboard</servlet-name>
	        <servlet-class>com.myrunce.web.Checkerboard</servlet-class>
	    </servlet>
	    <servlet-mapping>
	        <servlet-name>Checkerboard</servlet-name>
	        <url-pattern>/Checkerboard</url-pattern>
	    </servlet-mapping>
	</web-app>
</element>